
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ecommerc</title>

    <link rel="stylesheet" href="~/css/EstilosPaginaPrincipal.css"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

   <partial name="_MenuDinamico"/>

    <main>
        <div class="slider">
            <div class="container">
                <div class="wrapper">
                    <div class="myslider swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="~/img/banner4.webp" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Tecnologia</h4>
                                        <h2><span>Al alcance </span><br><span>de tus manos</span></h2>
                                        <a href="#" class="primary-button">Proximamente</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="~/img/banner3.webp" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Tecnologia</h4>
                                        <h2><span>Al alcance</span><br><span>de tus manos</span></h2>
                                        <a href="#" class="primary-button">Proximamente</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="~/img/banner5.webp" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Tecnologia</h4>
                                        <h2><span>Al alcance</span><br><span>de tus manos</span></h2>
                                        <a href="#" class="primary-button">Proximamente</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="~/img/banner6.webp" alt="">
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Tecnologia</h4>
                                        <h2><span>Al alcance</span><br><span>de tus manos</span></h2>
                                        <a href="#" class="primary-button">Proximamente</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--slider-->

        <div class="brands">
            <div class="container">
                <div class="wrapper flexitem">
                    <div class="item">
                        <a href="#">
                            <img src="~/img/zara.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/samsung.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/oppo.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/asus.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/hurley.png" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="~/img/dng.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--brands-->

        <div class="trending">
            <div class="container">
                <div class="wrapper">
                    <div class="sectop flexitem">
                        <h2><span class="circle"></span><span>Productos</span></h2>
                    </div>
                    <div class="colums">
                        <div class="flexwrap">
                            <div class="row products big">
                                <div class="item">
                                    <div class="offer">
                                        <p>Offer end</p>
                                        <ul class="flexcenter">
                                            <li>1</li>
                                            <li>15</li>
                                            <li>27</li>
                                            <li>60</li>
                                        </ul>
                                    </div>
                                    <div class="media">
                                        <div class="image">
                                            <a href="">
                                                <img src="~/img/Xiaomi Redmi Note 10S.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                
                                            </ul>
                                        </div>

                                        

                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="stock mini-text">
                                            <div class="qty">
                                                <span>Stock:<strong class="qty-avalible">107</strong></span>
                                                <span>Sold:<strong class="qty-avalible">3.459</strong></span>

                                            </div>
                                            <div class="bar">
                                                <div class="available"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row products big">
                                <div class="item">
                                    <div class="offer">
                                        <p>Offer end</p>
                                        <ul class="flexcenter">
                                            <li>1</li>
                                            <li>15</li>
                                            <li>27</li>
                                            <li>60</li>
                                        </ul>
                                    </div>
                                    <div class="media">
                                        <div class="image">
                                            <a href="">
                                                <img src="~/img/Silla Gamer 1ST Player DK2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                            </ul>
                                        </div>



                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="stock mini-text">
                                            <div class="qty">
                                                <span>Stock:<strong class="qty-avalible">107</strong></span>
                                                <span>Sold:<strong class="qty-avalible">3.459</strong></span>

                                            </div>
                                            <div class="bar">
                                                <div class="available"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row products big">
                                <div class="item">
                                    <div class="offer">
                                        <p>Offer end</p>
                                        <ul class="flexcenter">
                                            <li>1</li>
                                            <li>15</li>
                                            <li>27</li>
                                            <li>60</li>
                                        </ul>
                                    </div>
                                    <div class="media">
                                        <div class="image">
                                            <a href="">
                                                <img src="~/img/table Aplle.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                            </ul>
                                        </div>



                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="stock mini-text">
                                            <div class="qty">
                                                <span>Stock:<strong class="qty-avalible">107</strong></span>
                                                <span>Sold:<strong class="qty-avalible">3.459</strong></span>

                                            </div>
                                            <div class="bar">
                                                <div class="available"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row products mini">
                                <div class="item">

                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="">
                                                <img src="~/img/shoe1-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row products mini">
                                <div class="item">

                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="">
                                                <img src="~/img/Auriculares Bluetooth.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                               
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row products mini">
                                <div class="item">

                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a href="">
                                                <img src="~/img/Auriculares inalámbricos Bluetooth.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="content">
                                        <div class="rating">
                                            <div class="stars"></div>
                                            <span class="mini-text">(2,548)</span>
                                        </div>
                                        <h3 class="main-links"><a href="#">Happy Salid Womens</a></h3>
                                        <div class="price">
                                            <span class="current">$129</span>
                                            <span class="normal mini-text">$189</span>
                                        </div>
                                        <div class="mini-text">
                                            <p>2975 sold</p>
                                            <p>Free Shipping</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!---fin main---->

    <footer>
    </footer>
    <!---fin footer---->


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/js/PagPrin.js"></script>
</body>

</html>



